# Environment files
.env
.env.*

# Dependencies
node_modules
load-testing/venv
load-testing/__pycache__
load-testing/reports

# Build output
dist
docs

# Logs
logs/
*.log

# TypeScript cache
*.tsbuildinfo

# Vscode cache and settings
.vscode